@use 'system/_colors.scss' as *;
@use 'system/_typography.scss' as *;
@use 'system/_layout.scss' as *;
@use 'system/_buttons.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background: $sunlight;
}

body {
  background: $white;
  color: $body-text-color;
  overflow-x: hidden;
  width: 100%;
}

figure,
img {
  max-width: 100%;
  height: auto;
}

// utilities 
.visually-hidden {
  display: none;
}

.show-on-mobile {
  @media (min-width: $collapse-bp) {
    display: none !important;
  }
}

/* typography */
html {
  font-size: 16px;
  @include sansSerifTypeface;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figcaption,
blockquote,
a {
  @include textStyle;
}

.display-heading-style,
.display-style {
  @include displayHeadingStyle();
}

.heading-style,
.display-sm-style {
  @include headingStyle();
}

.title-style {
  @include titleStyle();
}

.large-text-style {
  @include largeTextStyle;
}

.text-style {
  @include textStyle();
}

.quote-style {
  @include quoteStyle();
}

.display-text-style {
  @include displayTextStyle;
}

// links & btns

a {
  color: inherit;
  text-decoration: none;
}

.link-underline {
  @include linkUnderline;
}

p,
ul,
ol {
  a:not(.link-inherit) {
    color: inherit;
    transition: .3s ease all;

    &:hover {
      color: $link-color;
    }
  }
}

nav ul a {
  color: inherit;
}

ul.no-style {
  list-style: none;
}

button {
  @include resetBtn;
}

input[type="submit"]:hover {
  cursor: pointer;
}

.btn-underline {
  @include btnUnderline;
  @include inputStyle;
}

.btn-fill {
  @include btnFill;

  &[disabled] {
    opacity: .4;
  }
}

// layouts
.row,
.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;

  &.flex-col-center {
    text-align: center;
    justify-content: center;
  }
}

.flex-col-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.base-container {
  @include baseContainer;
}

.grid-wrapper {
  @include baseGrid;
}

nav ul {
  list-style: none;
  display: flex;
}

.stacked-divs {
  @include stackedDivs;
}

.layout-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  main {
    flex: 2;
  }
}

// forms 

button[disabled],
input[disabled],
button.disabled {
  pointer-events: none
}

label {
  @include labelStyle;
}

fieldset {
  border: none;
}

input,
textarea {
  background: transparent;
  border: 0;
  outline: 0;
  border-radius: 0;
  font-size: inherit;
  font-family: inherit;
}

input,
textarea,
input::placeholder {
  @include inputStyle;
}

textarea {
  resize: none;
}

input {
  height: 24px;
  width: auto;
  border-bottom: 1px solid black;

  &::placeholder {
    color: #969696;
  }
}

// transitions

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
  opacity: 0;
}


// icons 

.icon {
  &:not(.icon-transparent) {
    background: $black;
  }

  span {
    display: none;
  }

  &.instagram::after {
    background-image: url("/icons/instagram.svg");
  }

  &.pinterest::after {
    background-image: url("/icons/pinterest.svg");
  }

  &.chevron-left::after {
    mask-image: url("/icons/chevron-left.svg");
  }

  &.chevron-right::after {
    mask-image: url("/icons/chevron-right.svg");
  }

  &::after {
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    mask-repeat: no-repeat;
    mask-size: cover;
    display: block;
    width: 24px;
    height: 24px;
  }
}

.lg-screen-hide {
  @media (min-width: $collapse-bp) {
    display: none;
  }
}

#__layout {
  overflow: hidden;
}

/* layouts */

main.site-main>div,
.page-container:not(.page-container-no-padding) {
  padding-top: 120px;
  padding-bottom: 160px;
}

.no-page-padding {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.page-title {
  text-align: center;
  max-width: 864px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 864px) {
    max-width: 95%;
  }

  h1 {
    @include titleStyle;
    margin-bottom: 4px;
  }

  h2 {
    @include headingStyle;
  }

  p {
    margin-top: 16px;
  }
}

.rte {
  h2 {
    @include titleStyle;
    margin-bottom: 24px;
  }

  ul {
    @include largeTextMonoStyle;
  }

  p+h2 {
    margin-top: 24px;
  }

  p+p {
    margin-top: 24px;
  }
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 63px 22px 0px 22px;
}

.text-center {
  text-align: center;
}

.mb-24 {
  margin-bottom: 24px;
}

.container-920 {
  max-width: 920px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 920px) {
    max-width: 95%;
  }
}

.bg-full-width {
  background-size: cover;
  // background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.glow-box {
  background: $sunlight;
  padding: 60px;
  box-shadow: 0px 0px 30px 10px #FDF9DF;
}

.link-hover:hover {
  cursor: pointer;
}

.video-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 55px;
}

.layout-image-text {
  border-top: 1px solid #cacaca;
  display: grid;
  grid-template-columns: repeat(2, 50vw);
  grid-template-rows: minmax(50vw, auto);
  place-items: center;

  >*:first-child {
    grid-column: 1 / 2;

  }

  >*:last-child {
    grid-column: 2 / 3;
  }

  .image-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;

    figure {
      max-height: 100%;
      min-height: 100%;
      width: 100%;
      display: flex;

      img {
        max-height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }

  .text-wrapper {
    padding: 24px;

    .text-wrapper-inner {
      max-width: 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.ul-plain {
  list-style: none;
}