// forms 

button[disabled],
input[disabled],
button.disabled {
    pointer-events: none
}

label {
    @include labelStyle;
}

fieldset {
    border: none;
}

input,
textarea {
    background: transparent;
    border: 0;
    outline: 0;
    border-radius: 0;
    font-size: inherit;
    font-family: inherit;
}

input,
textarea,
input::placeholder {
    @include inputStyle;
}

textarea {
    resize: none;
}

input {
    height: 26px;
    width: auto;
    border-bottom: 1px solid black;

    &::placeholder {
        color: #969696;
    }
}

/* aweber form */
.newsletter-form {
    margin-top: 36px;

    h2 {
        @include newsletterTitle();
        margin-top: 22px;

        @media (max-width: $collapse-bp) {
            text-align: left;
            max-width: 50%;
        }
    }

    h2+p {
        @include footerText;
        margin-top: 12px;
    }

}

.af-form-wrapper {
    @media (min-width: $collapse-bp) {
        width: 100%;
        // max-width: 360px;
    }

    margin: 24px auto 0 auto;

    .af-body {
        display: flex;
    }


    .af-element:first-child {
        margin-right: 20px;
    }

    .af-element:not(:last-child) {
        flex: 2;
    }

    input {
        flex: 2;
    }

    .previewLabel {
        display: none;
    }

    af-element.buttonContainer,
    .af-textWrap {
        display: flex;
    }

    input[type="submit"] {
        flex: 0;
        text-align: right;
    }
}



.post-newsletter {
    @media (max-width: 1400px) {
        @include collapseForm()
    }
}

.site-footer .newsletter-container {
    @media (min-width:$collapse-bp) {
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (max-width: 800px) {
        @include collapseForm();
    }
}

.power-up {
    @media (max-width: 800px) {
        @include collapseForm();
    }
}

.course-page {
    @media (max-width: 800px) {
        @include collapseForm();
    }
}