figure,
img {
    max-width: 100%;
    height: auto;
}


// lazy load
.bg-full-width,
.lazyLoad {
    &:not(.not-lazy) {
        opacity: 0;
        transition: 1s ease all;

        &.isLoaded {
            opacity: 1;
        }
    }
}