$btnTransition: .25s ease-in all;

@mixin resetBtn() {
  outline: none;
  background: transparent;
  border: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;

  &:hover {
    cursor: pointer;
  }
}

@mixin btnUnderline() {
  border-bottom: 1px solid $black;
  transition: .3s ease all;

  &:hover {
    border-bottom-color: transparent;
  }
}

@mixin linkUnderline($color: #000) {
  border-bottom: 1px solid $color;
  transition: .3s ease all;

  &:hover {
    border-color: transparent;
  }
}

@mixin btnFill() {
  // background: $golden;
  @include inputStyle;
  text-transform: uppercase;
  color: $white;
  background: $golden;
  padding: 22px 36px;

  // span,
  // a {
  //   display: flex;
  //   justify-content: center;
  // }

  // a span {
  //   padding: 0;
  // }

  // padding: 22px 36px;

  &[disabled] {
    opacity: .4;
  }

  position: relative;
  overflow: hidden;

  span {
    position: relative;
    z-index: 1;
  }

  &:before {
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: $golden;
    background: linear-gradient(90deg, #AC8B55 0%, #F3EEE7 100%);
    position: absolute;
    transform: translateX(100%);
    transition: .5s cubic-bezier(.44, .66, .4, .89) all;
  }

  &:hover:before {
    transform: translateX(0%);
  }

}