$collapse-bp: 980px;
$container-width: 1440px;
$lg-bp: 1600px;
$headerHeight: 214px;

@mixin baseContainer() {
  max-width: $container-width;
  margin: 0 auto;

  @media (max-width: $container-width) {
    max-width: 90%;
  }
}

@mixin baseGrid() {
  @include baseContainer();
  display: grid;
  grid-auto-rows: auto;

  @media (min-width: $collapse-bp) {
    grid-template-columns: repeat(8, 1fr);
    grid-column-gap: 30px;
  }

  @media (max-width: $collapse-bp) {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
  }
}

@mixin stackedDivs {
  display: grid;
  grid-template: 1fr / 1fr;

  >* {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    position: relative;
  }
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0px 0px 30px 10px #FDF9DF;

  }

  100% {
    box-shadow: 0px 0px 0px 0px #FDF9DF;

  }
}

@mixin glowBox {
  background: $sunlight;

  @media (min-width: $collapse-bp) {
    padding: 60px;
  }

  @media (max-width: $collapse-bp) {
    padding: 60px 16px;
  }

  box-shadow: 0px 0px 30px 10px #FDF9DF;
  animation: 2s linear infinite alternate pulseGlow;
}

@mixin fixedBgAttachment {
  background-attachment: fixed;

  @media (max-width: $collapse-bp) {
    background-attachment: unset;
  }
}

@mixin collapseForm() {

  .af-body {
    flex-direction: column;
    justify-content: center;
  }

  .af-element:first-child {
    margin-right: 0;
  }

  .af-element:not(:last-child) {
    margin-bottom: 10px;
  }
}