// typeface
@mixin serifTypeface() {
  font-family: 'Source Serif', serif;
  font-style: normal;
  font-weight: 300;
}

@mixin sansSerifTypeface() {
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 400;
}

@mixin monoTypeface() {
  font-family: 'Source Code Pro', sans-serif;
  font-weight: 400;
}

// GENERAL
@mixin displayHeadingStyle() {
  @include serifTypeface();
  font-size: 124px;
  font-weight: 300;
  line-height: 155px;
  letter-spacing: 0.02em;
}

@mixin headingStyle() {
  @include serifTypeface();
  font-size: 44px;
  font-weight: 300;
  line-height: 55px;
  letter-spacing: 0.02em;
}

@mixin titleStyle() {
  @include sansSerifTypeface();
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@mixin largeTextStyle() {
  @include sansSerifTypeface();
  font-size: 22px;
  line-height: 30px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

@mixin textStyle() {
  @include sansSerifTypeface();
  font-size: 16px;
  line-height: 26px;
  font-style: normal;
  letter-spacing: 0.02em;
}



@mixin quoteStyle() {
  @include sansSerifTypeface();
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  letter-spacing: 0.01em;
}

@mixin displayTextStyle() {
  @include monoTypeface();
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .02em;
}



// SPECIFIC
@mixin navPrimaryStyle() {
  @include sansSerifTypeface();
  font-size: 13px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.2em;
}

@mixin navSecondaryStyle() {
  @include sansSerifTypeface();
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

@mixin footerNav() {
  @include sansSerifTypeface();
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
}

@mixin footerText() {
  @include sansSerifTypeface();
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.02em;
}

@mixin footerDetailText() {
  @include monoTypeface();
  font-size: 11px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}

@mixin newsletterTitle() {
  @include serifTypeface();
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.02em;
}

@mixin postPreviewTitle() {
  @include serifTypeface();
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

@mixin labelStyle() {
  font-size: inherit;
  // background: $white;
}

@mixin inputStyle() {
  @include monoTypeface();
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}

@mixin calloutStyle() {
  //styleName: Callout;
  @include sansSerifTypeface();
  font-size: 34px;
  font-weight: 400;
  line-height: 61px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

@mixin ctaStyle() {
  @include serifTypeface();
  font-size: 32px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
}

@mixin largeTextMonoStyle() {
  @include monoTypeface();
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.02em;
  text-align: left;
}

@mixin subheadingStyle() {
  @include serifTypeface();
  font-size: 32px;
  font-weight: 300;
  line-height: 35px;
  text-transform: none;
  letter-spacing: 0rem;
}